[Unit]
Description=uWSGI instance to serve password-manager
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/password-manager
Environment="PATH=/password-manager/env/bin"
ExecStart=/password-manager/env/bin/uwsgi --ini password-manager.ini

[Install]
WantedBy=multi-user.target
